.cart {
    padding: 1rem;
    background-color: #f4f4f9;
  }
  
  .cart h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 1rem;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-details h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .cart-item-details p {
    margin: 0.5rem 0;
  }
  
  .quantity-controls {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .quantity-controls button {
    padding: 0.5rem;
    background-color: #64b964;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .quantity-controls button:hover {
    background-color: #009900;
  }
  #delet-item-btn{
    background-color: rgb(150, 91, 91);
  }
  .cart-item-details button {
    padding: 0.5rem 1rem;
    background-color: #3E7B27;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .cart-item-details button:hover {
    background-color: rgb(239, 227, 194);
  }